.page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  gap: 50px;
}

.textSection {
  width: 380px;
  height: 200px;
  padding: 20px;
  margin: 70px auto;
  display: block;
  line-height: 1.5;
  margin-left: 250px;
  font-size: 0.1rem;
  transform: scale(0.9);
}

.textSection h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 10px;
}

.textSection h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
  font-weight: lighter;
  margin-bottom: 20px;
}

.textSection p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}


.aboutImage{
  width: 380px;
  height: 200px;
  padding: 20px;
  display: block;
  line-height: 1.5;
  margin-right: 250px;
  margin-bottom: -15px;
  transform: scale(0.8);
  position: relative;
  right: 100px;
  bottom: 10px;

}