/* CONTACT MODULE CSS */


/* Contact Page */

.contactPage {
  position: relative;
  width: 100%;
  min-height: 50vh;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: rgb(251, 251, 251);
  background-color: #ffffff;
  overflow: hidden;
}


/* ================================= */

/* Heading */

.contactName h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 45px;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  padding: 5px;
}

/* ================================= */

/* Form Wrapper */

.form {
  position: relative;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 60px 40px 120px 50px;
  max-height: 80vh;
  overflow: hidden;
  border: 1.7px solid #000000;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.row {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* ================================= */


/* Label & Field Colors */

.contactPage label,
.contactPage input,
.contactPage textarea {
  color: #000000;
}

.contactPage label {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 8px;
}

/* ================================= */

/* Inputs / Textarea */

.input[type="text"],
.input[type="email"],
.textarea {
  width: 100%;
  padding: 15px 0;
  margin-bottom: 15px;
  border: none;
  outline: none;
  border-bottom: 1.5px solid black;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background: transparent;
}
.input[type="email"]{
  padding: 25px 0;
  margin-bottom: 35px;
}

.contactPage textarea {
  color: black;
  margin-top: 10px;
  margin-bottom: 20px;
  resize: vertical;
  max-height: 200px;
  padding: 25px 0;
}

/* ================================= */

/* Submit Button */

.input[type="submit"] {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #d1eac4;
  color: black;
  padding: 20px 45px;
  font-size: 25px;
  cursor: pointer;
  border: 1px solid #000000;
  transition: background-color 0.3s ease;
  right: 22px;
}

.input[type="submit"]:hover {
  background-color: #b7ceab;
}

/* ================================= */