/* camera style */


.container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.camera {
  width: 650px;
  height: 520px;
  background-color: black;
  object-fit: cover;
  border-radius: 0; 
 transform: scaleX(-1); /* inverted undo */
}
