/* FOOTER MODULE CSS */

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFAF1;
  color: rgb(0, 0, 0);
  width: 100%;
  height: 0.2rem;
  bottom: 0;
  left: 0;
  padding: 15px;
  text-align: center;
  position: fixed;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* ================================= */


/* MOBILE LAYOUT (≤600px) */
@media (max-width: 600px) {
  .footer {
    flex-direction: column;       
    font-size: 12px;            
    line-height: 1.4;
    padding: 10px 8px 12px;
    text-align: center;
    position: fixed;
    bottom: 0;

  }

  .footer a {
    display: block;
    margin-top: 4px;             
  }
}