/* FOOTER MODULE CSS */

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  width: 100%;
  height: 0.2rem;
  bottom: 0;
  left: 0;
  padding: 15px;
  text-align: center;
  position: fixed;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* ================================= */