/* NAVBAR MODULE CSS */


/* Navbar */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  z-index: 999;

}

/* ================================= */

/* Hamburger */
.hamburger {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 30px;
  height: 24px;
  cursor: pointer;
  
}

.hamburger span {
  height: 10%;
  background-color: black;
  border-radius: 1px;
  width: 150%;
  transition: 0.3s;
}

/* ================================= */

/* Slide-in Menu */

.menu {
  position: fixed;
  top: 0;
  left: -100vh;
  height: 100vh;
  width: 15vw;
  min-width: 210px;
  max-width: 300px;
  background-color: #C7E098;
  display: flex;
  flex-direction: column;
  padding: 100px 20px;
  gap: 20px;
  font-size: 20px;
  z-index: 1000;
  transition: left 0.5s ease-in-out;
}

.show {
  left: 0;
}

.menu a {                 /* menu links */
  text-decoration: none;
  color: #58611F;
  font-size: 25px;
  letter-spacing: 1px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  transition: transform 0.3s ease;
}

.menu a:hover {
  transform: scale(1.05);
}

/* ================================= */

/* Image */

.flowerImage {
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60%;
  height: auto;
  max-width: 150px;
  min-width: 5px;

  margin-top: 60px;
  margin-left: 10px;
  padding: 1rem 0;
}

/* =============================== */

/* MOBILE LAYOUT */
@media (max-width: 600px) {
  .menu {
    width: 33vw;         
    left: -75vw;         
    transition: left 0.4s ease-in-out;
  }

  .show {
    left: 0;
  }

  .flowerImage {
    width: 35vw;          
    max-width: 200px;
  }
}
